#container{
    width:1140px;
}

#blog-post-container{
    width: 75%;
    float: left;
}

#others-post{
    width: 25%;
    float: left;
}

#author-box{

}

.tags{
    margin: 0;
    padding: 0;
}
.tags li{
    list-style: none;
    display: inline;
    margin-right: 
    
}
.tags li a{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}